openapi: 3.0.3
info:
  title: 7th Trade Hub Site Integration Protocol
  version: "1"
  description: >
    Hub APIs for one-time launch token validation and subscription polling,
    plus optional merchant→Hub webhook. Each integration has its own client_secret.
    Merchants also implement health, consume, and subscription/sync on their sites
    (see docs/integrations/ENDPOINTS-REFERENCE.md and MERCHANT-GUIDE.md).
servers:
  - url: https://7th-tradehub.online
    description: Production Hub (replace with your SEVENTH_TRADEHUB_HUB_URL)
paths:
  /api/site-integrations/v1/demo/tokens/validate:
    post:
      summary: Validate and consume a one-time launch token
      parameters:
        - in: header
          name: X-7TH-Client-Id
          required: true
          schema: { type: string }
        - in: header
          name: X-7TH-Client-Secret
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        "200":
          description: Token valid and consumed
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid: { type: boolean }
                  protocol: { type: string, example: 7th-tradehub }
                  version: { type: integer, example: 1 }
                  context: { type: string, enum: [demo, owned_tool] }
                  role: { type: string, enum: [user, admin] }
                  identity:
                    type: object
                    properties:
                      email: { type: string, format: email }
                  integration_id: { type: string, format: uuid }
                  expires_at: { type: string, format: date-time }
        "401": { description: Invalid client credentials }
        "422": { description: Invalid, expired, or used token }
        "429": { description: Rate limited (60/min per IP on this prefix) }
  /api/site-integrations/v1/subscription:
    get:
      summary: Poll owned-tool subscription status (defense in depth)
      parameters:
        - in: header
          name: X-7TH-Client-Id
          required: true
          schema: { type: string }
        - in: header
          name: X-7TH-Client-Secret
          required: true
          schema: { type: string }
        - in: header
          name: X-7TH-Integration-Id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Current subscription snapshot (status derived from live expires_at)
          content:
            application/json:
              schema:
                type: object
                properties:
                  protocol: { type: string }
                  version: { type: integer }
                  tool_id: { type: integer }
                  public_id: { type: string, format: uuid }
                  status: { type: string, enum: [pending_setup, active, suspended, expired] }
                  expires_at: { type: string, format: date-time, nullable: true }
                  updated_at: { type: string, format: date-time, nullable: true }
        "401": { description: Invalid credentials }
        "404": { description: Unknown integration }
  /webhooks/site-integrations/{integrationId}:
    post:
      summary: Site-to-Hub webhook (ping or owned admin credential sync)
      parameters:
        - in: path
          name: integrationId
          required: true
          schema: { type: string, format: uuid }
        - in: header
          name: X-7TH-Webhook-Secret
          required: true
          schema: { type: string }
        - in: header
          name: X-7TH-Client-Id
          required: false
          description: Required for owned.admin_credentials.updated only
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required: [event]
                  properties:
                    event: { type: string, example: ping }
                - $ref: "#/components/schemas/AdminCredentialSyncAssertion"
            examples:
              ping:
                summary: Connectivity ping
                value: { event: ping }
              credentialSyncEmail:
                summary: Owned admin email update (sign before POST)
                value:
                  protocol: 7th-tradehub
                  version: 1
                  integration_id: 11111111-1111-1111-1111-111111111111
                  context: owned_tool
                  role: credential_sync
                  event: owned.admin_credentials.updated
                  event_id: a1b2c3d4e5f6789012345678abcdef01
                  request_id: 0f0e0d0c0b0a09080706050403020100
                  nonce: "aabbccddeeff001122334455"
                  issued_at: "2026-09-03T19:30:00+00:00"
                  expires_at: "2026-09-03T19:33:00+00:00"
                  identity:
                    email: new-admin@example.com
                  signature: "hex-hmac-sha256"
      responses:
        "200":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  deduped: { type: boolean }
        "401": { description: Invalid webhook secret, client id, or signature }
        "403": { description: Credential sync is owned-only }
        "404": { description: Unknown integration }
        "422": { description: Invalid or expired credential assertion }
components:
  schemas:
    ProtocolAssertion:
      type: object
      required: [protocol, version, integration_id, context, role, identity, request_id, nonce, issued_at, expires_at, signature]
      properties:
        protocol: { type: string, example: 7th-tradehub }
        version: { type: integer, example: 1 }
        integration_id: { type: string, format: uuid }
        context: { type: string, enum: [demo, owned_tool] }
        role: { type: string }
        identity:
          type: object
          properties:
            email: { type: string }
        request_id: { type: string }
        nonce: { type: string }
        issued_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
        signature: { type: string }
        subscription:
          type: object
          description: Present on subscription sync pushes
          properties:
            tool_id: { type: integer }
            public_id: { type: string, format: uuid }
            status: { type: string }
            expires_at: { type: string, format: date-time, nullable: true }
            updated_at: { type: string, format: date-time }
    AdminCredentialSyncAssertion:
      type: object
      required:
        - protocol
        - version
        - integration_id
        - context
        - role
        - event
        - event_id
        - request_id
        - nonce
        - issued_at
        - expires_at
        - signature
      properties:
        protocol: { type: string, example: 7th-tradehub }
        version: { type: integer, example: 1 }
        integration_id: { type: string, format: uuid }
        context: { type: string, enum: [owned_tool] }
        role: { type: string, enum: [credential_sync] }
        event: { type: string, enum: [owned.admin_credentials.updated] }
        event_id: { type: string, maxLength: 64 }
        request_id: { type: string }
        nonce: { type: string }
        issued_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
        identity:
          type: object
          properties:
            email: { type: string, format: email }
        credential:
          type: object
          properties:
            password: { type: string, minLength: 6, maxLength: 255 }
        signature: { type: string }
